/* Set background color and font family */
html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    background-color: #222;
    
  }
  .image-container {
    width: 200px;
    height: 200px;
    background-image: url('../static/image.png');
    background-size: cover;
    position: absolute;
    right: 150px;

  }
  



  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
    /* font-family: 'Roboto Mono', monospace; */
    } 
  /* button {
    font-size: 2rem;
    background-color: rgb(147,112,219);
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    padding-top: 3vh;
    font-family: 'Roboto Mono', monospace; ;
  }
  button:hover{
    color: #fff;
    background-color: rgb(147, 112, 219,0.5);
    
  } */
  
  
body {
    background-color: #111;
    font-family: Arial, sans-serif;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 1.5vh;
    font-size: 1.5rem;
}
  /* Style the header section */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
  }
  
  .header h1 {
    font-size: 5rem;
    margin: 0;
  }
  
  .header p {
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .header button {
    font-size: 1.5rem;
    background-color: rgb(147, 112, 219);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 25px;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .header button:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Style the main content section */
  
#main{
  font-size:5vw;color: rgb(160, 126, 228);margin-bottom: 5px;
}
#sub{
  font-size:2vw;color: rgb(255,160,122);margin-top: 1px;
}

.cssbuttons-io-button {
  background: #A370F0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 3vw;
  padding-right: 3.3em;
  bottom: 15vw;
  left: 45vw;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.75em);
}

.cssbuttons-io-button .icon svg {
  width: 1.5em;
  
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

::-webkit-scrollbar{
  width: 0.7em;
}

::-webkit-scrollbar-track{
  background: transparent;

}
::-webkit-scrollbar-thumb{
  background:#b9b3b3 ;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background:#fff ;
}


@media (max-width: 767px) {

  #container{
    position: relative;
    bottom: 30vw;
  }
  #main{
    font-size: 42px;
  }
  #sub{
    font-size: 22px;
  }

  .cssbuttons-io-button{
    position: relative;
    bottom: 120vw;
    left: 25vw;
    width: auto;
    height: 15vw;
    border-radius: 2;

  }


}