.logo3,
.navbar3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumpurple);
  width: 1512px;
  height: 81px;
}
.logo3 {
  top: 4.38px;
  left: 10.5px;
  background-color: var(--color-gainsboro);
  width: 117.6px;
  height: 72.24px;
}
.home4 {
  left: 140.7px;
  width: 87.15px;
  cursor: pointer;
}
.about4,
.contact5,
.home4 {
  position: absolute;
  top: 27px;
  display: inline-block;
  height: 16.05px;
}
.contact5 {
  left: 338.1px;
  width: 117.6px;
  cursor: pointer;
}
.about4 {
  left: 227.85px;
  width: 87.15px;
}
.nav4,
.yt-out-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 81px;
}
.yt-out-child {
  border: 0;
  background-color: var(--color-gainsboro);
  top: 111px;
  left: 23px;
  width: 1089px;
  height: 56px;
}
.next-button-child,
.pngwing-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 80px;
}
.pngwing-1-icon {
  top: 9.32px;
  left: 7.92px;
  width: 52.82px;
  height: 62.14px;
  object-fit: cover;
}
.next-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 99px;
  left: 1138px;
  width: 68px;
  height: 80px;
}
.yt-out-item {
  border: 0;
  background-color: rgba(30, 30, 30, 0.62);
  position: absolute;
  top: 197px;
  left: 45px;
  width: 1319px;
  height: 748px;
}
.output {
  position: absolute;
  top: 266px;
  left: 116px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.yt-out {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
