<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated card</title>
    <link rel="stylesheet" href="../static/card.css">
</head>
<body>

    <div class="card">
        <div class="card-content">
        <h2 class="card-title">Awesome title</h2>
        <p class="card-body">
            Add the info that you are planning to use for this card
        </p>
        <a href="youtube.html" class="button">Let's GO</a>
    </div>
    </div>

    
</body>
</html>