<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Send a Suggestion</title>
    <link rel="stylesheet" type="text/css" href="../static/global.css">
    <link rel="stylesheet" type="text/css" href="../static/suggestion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  </head>
  <div class="form-container">
    <h2>Feedback Form</h2>
    <form action="#" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <div class="rating-buttons">
          <input type="radio" id="star5" name="rating" value="5" required>
          <label for="star5"></label>
          <input type="radio" id="star4" name="rating" value="4">
          <label for="star4"></label>
          <input type="radio" id="star3" name="rating" value="3">
          <label for="star3"></label>
          <input type="radio" id="star2" name="rating" value="2">
          <label for="star2"></label>
          <input type="radio" id="star1" name="rating" value="1">
          <label for="star1"></label>
        </div>
      </div>
      <div class="form-group">
        <label for="suggestion">Suggestion</label>
        <textarea id="suggestion" name="suggestion"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  
</html>

 -->


 <!DOCTYPE html>
 <html>
   <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Send a Suggestion</title>
     <link rel="stylesheet" type="text/css" href="../static/global.css">
     <link rel="stylesheet" type="text/css" href="../static/suggestion.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>

    

    <div class="text-container">
      <h1 id="text">Have an idea that could help us improve?</h1>
      <h2> We're all ears. Share your suggestions with us.</h2>
    </div>
     <div class="form-container">
       <h2>Feedback Form</h2>
       <form action="#" method="POST">
         <div class="form-group">
           <label for="name">Name</label>
           <input type="text" id="name" name="name" required placeholder="Enter your name">
         </div>
         <div class="form-group">
           <label for="email" >Email</label>
           <input type="email" id="email" name="email" required placeholder="Enter your Email">
         </div>
         <div class="form-group">
           <label for="rating">Rating</label>
           <div class="rating">
            <input type="radio" id="star5" name="rate" value="5">
            <label for="star5" title="text"></label>
            <input type="radio" id="star4" name="rate" value="4">
            <label for="star4" title="text"></label>
            <input checked="" type="radio" id="star3" name="rate" value="3">
            <label for="star3" title="text"></label>
            <input type="radio" id="star2" name="rate" value="2">
            <label for="star2" title="text"></label>
            <input type="radio" id="star1" name="rate" value="1">
            <label for="star1" title="text"></label>
          </div>
         </div>
         <br>
         <br>
         <div class="form-group">
           <label for="suggestion">Suggestion</label>
           <textarea id="suggestion" name="suggestion" placeholder="Report BUG 🪲 or give me a suggestion🙂"></textarea>
         </div>
         <button class="back_to_home" id="index">submit
          <div class="star-1">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-2">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-3">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-4">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-5">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
          <div class="star-6">
            <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
          </div>
        </button>       </form>
     </div>

     <button class="btn" style="position: relative;
     bottom: 38vw;
     left: 2vw;" onclick="location.href= 'index.html'"><i class="fa fa-home"></i> Home</button>
   </body>



 </html>
 